In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('base_address_ner_dataset.csv')
data.head(5)

                                           text_part
0   771001001 кпп по октмо гбу "жилищник района м...
1   5147746350230, окато 45283559000 октмо 453670...
2  он. статья 15 адреса, реквизиты и подписи стор...
3  сударственное бюджетное учреждение гор. москвы...
4  остью «дорстройгрупп» (ооо «дорстройгрупп» юри...

In [4]:
data.text_part[0]

' 771001001 кпп по октмо гбу "жилищник района митино" государственные бюджетные учреждения субъектов российской федерации 7733902394 кпп 773301001 по окфс место нахождения (адрес) S125430, город москва, пятницкое шоссе, дом 23E реквизиты сведений об объекте контроля 45000000 инн по окопф форма собственности № п/п дата протокола по октмо 75203 29368873 45367000000 реквизиты документа, содержащего информацию для осуществления'

In [6]:
data.text_part = data.text_part.str.replace('S', ' S ').str.replace('E', ' E ').str.replace('\s\s+', ' ')
data.text_part

<ipython-input-6-0faac5d7e94c>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data.text_part = data.text_part.str.replace('S', ' S ').str.replace('E', ' E ').str.replace('\s\s+', ' ')

0       771001001 кпп по октмо гбу "жилищник района м...
1       5147746350230, окато 45283559000 октмо 453670...
2      он. статья 15 адреса, реквизиты и подписи стор...
3      сударственное бюджетное учреждение гор. москвы...
4      остью «дорстройгрупп» (ооо «дорстройгрупп» юри...
                             ...
741    тракту №обю/19-1 локальная смета № (локальный ...
742    ткая марка по плотности 70 длина 1000; 2000 мм...
743    т 19.06.2017 № 508671, выданной публичным акци...
744    и сжатии 300 или 400 400 вид цемента портландц...
745    фск партнер а.с. колеснику fild адреса: - юрид...
Name: text_part, Length: 746, dtype: object

In [7]:
data.text_part[0]

' 771001001 кпп по октмо гбу "жилищник района митино" государственные бюджетные учреждения субъектов российской федерации 7733902394 кпп 773301001 по окфс место нахождения (адрес) S 125430, город москва, пятницкое шоссе, дом 23 E реквизиты сведений об объекте контроля 45000000 инн по окопф форма собственности № п/п дата протокола по октмо 75203 29368873 45367000000 реквизиты документа, содержащего информацию для осуществления'

In [8]:
from nltk.tokenize import WordPunctTokenizer

wpt = WordPunctTokenizer()

In [91]:
def prepare_text(text):
    toks = wpt.tokenize(text)

    mask = []
    is_address = False

    for t in toks:
        if t == 'S':
            mask.append(0)
            is_address = True
            continue
        elif t == 'E':
            mask.append(0)
            is_address = False
            continue

        index = 1 if is_address else 0
        mask.append(index)

    text_df = pd.DataFrame({'token': toks, 'is_address': mask})
    text_df.loc[:, 'prev_info'] = text_df['is_address'].shift(1).fillna(0.0)
    
    text_df = text_df[~text_df['token'].isin(['S', 'E'])]
    
    hist = 3
    for i in range(1, hist+1):
        text_df.loc[:, f'hist_{i}'] = text_df['token'].shift(i)

    future = 3
    for i in range(1, future+1):
        text_df.loc[:, f'future{i}'] = text_df['token'].shift(-i)

    text_df = text_df.fillna('UNKNOWN')

    return text_df

In [92]:
text_dfs = []
for text in data.text_part.values:
    text_dfs.append(prepare_text(text))

In [93]:
len(text_dfs)

746

In [94]:
text_dfs = pd.concat(text_dfs)
text_dfs.head(5)

,token,is_address,prev_info,hist_1,hist_2,hist_3,future1,future2,future3
0,771001001,0,0.0,UNKNOWN,UNKNOWN,UNKNOWN,кпп,по,октмо
1,кпп,0,0.0,771001001,UNKNOWN,UNKNOWN,по,октмо,гбу
2,по,0,0.0,кпп,771001001,UNKNOWN,октмо,гбу,""""
3,октмо,0,0.0,по,кпп,771001001,гбу,"""",жилищник
4,гбу,0,0.0,октмо,по,кпп,"""",жилищник,района

In [95]:
text_dfs.shape

(74486, 9)

In [96]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
encoder.fit(text_dfs['token'].tolist() + text_dfs['hist_1'].tolist())

LabelEncoder()

In [97]:
text_dfs.columns

Index(['token', 'is_address', 'prev_info', 'hist_1', 'hist_2', 'hist_3',
       'future1', 'future2', 'future3'],
      dtype='object')

In [98]:
digit_tdf = text_dfs.copy()

wrd_cols = ['token', 'hist_1', 'hist_2', 'hist_3', 'future1', 'future2', 'future3']
for wc in wrd_cols:
    digit_tdf.loc[:, wc] = encoder.transform(text_dfs[wc])

In [99]:
digit_tdf

,token,is_address,prev_info,hist_1,hist_2,hist_3,future1,future2,future3
0,1373,0,0.0,1663,1663,1663,3408,4426,4120
1,3408,0,0.0,1373,1663,1663,4426,4120,2444
2,4426,0,0.0,3408,1373,1663,4120,2444,3
3,4120,0,0.0,4426,3408,1373,2444,3,2886
4,2444,0,0.0,4120,4426,3408,3,2886,4810
...,...,...,...,...,...,...,...,...,...
95,38,0,0.0,2925,65,5396,3013,4144,5745
96,3013,0,0.0,38,2925,65,4144,5745,4328
97,4144,0,0.0,3013,38,2925,5745,4328,1663
98,5745,0,0.0,4144,3013,38,4328,1663,1663
99,4328,0,0.0,5745,4144,3013,1663,1663,1663

In [100]:
X = digit_tdf.drop(['is_address'], axis=1)
y = digit_tdf['is_address']

In [101]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y)
X_train = X[:55000]
y_train = y[:55000]

X_test = X[55000:]
y_test = y[55000:]

In [102]:
model = RandomForestClassifier(max_depth=10)
model.fit(X_train, y_train)

RandomForestClassifier(max_depth=10)

In [88]:
X_test.loc[ind]

token        5824.0
prev_info       0.0
hist_1       1665.0
hist_2       1665.0
hist_3       1665.0
future1      3354.0
future2      6055.0
future3       130.0
Name: 402, dtype: float64

        token  prev_info  hist_1  hist_2  hist_3  future1  future2  future3
0      2563.0        1.0    74.0  5583.0    52.0     52.0   2737.0    257.0
1        52.0        1.0  2563.0    74.0  5583.0   2737.0    257.0     52.0
2      2737.0        1.0    52.0  2563.0    74.0    257.0     52.0   3376.0
3       257.0        1.0  2737.0    52.0  2563.0     52.0   3376.0     74.0
4        52.0        1.0   257.0  2737.0    52.0   3376.0     74.0    642.0
...       ...        ...     ...     ...     ...      ...      ...      ...
19481    38.0        1.0  2925.0    65.0  5396.0   3013.0   4144.0   5745.0
19482  3013.0        1.0    38.0  2925.0    65.0   4144.0   5745.0   4328.0
19483  4144.0        1.0  3013.0    38.0  2925.0   5745.0   4328.0   1663.0
19484  5745.0        1.0  4144.0  3013.0    38.0   4328.0   1663.0   1663.0
19485  4328.0        1.0  5745.0  4144.0  3013.0   1663.0   1663.0   1663.0

[19486 rows x 8 columns]

In [119]:
X_test = X_test[:-1]
X_test.loc[:, 'prev_info'] = 0.0
X_test = X_test.reset_index(drop=True)

y_pred = []
for ind in X_test.index:
    pred = model.predict(X_test.loc[[ind]])[0]
    y_pred.append(pred)
    
    X_test.loc[ind+1, 'prev_info'] = pred

In [109]:
ind

19485

In [103]:
from sklearn.metrics import classification_report

y_pred = model.predict(X_test)

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.98      1.00      0.99     12906
           1       1.00      0.96      0.98      6580

    accuracy                           0.99     19486
   macro avg       0.99      0.98      0.99     19486
weighted avg       0.99      0.99      0.99     19486

In [111]:
y_test

55    1
56    1
57    1
58    1
59    1
     ..
95    0
96    0
97    0
98    0
99    0
Name: is_address, Length: 19486, dtype: int64

In [130]:
from sklearn.metrics import classification_report

# y_pred = model.predict(X_test)

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.70      0.01      0.01     12906
           1       0.34      1.00      0.50      6580

    accuracy                           0.34     19486
   macro avg       0.52      0.50      0.26     19486
weighted avg       0.58      0.34      0.18     19486

In [123]:
streets_df = pd.read_csv('streets_df.csv')
streets_df = streets_df[['formalname']]
streets_df['formalname'] = streets_df['formalname'].str.lower()
streets_df.drop_duplicates(inplace=True)
streets_df.head(5)

        formalname
0           москва
1  новофедоровское
2     первомайское
3   филимонковское
4         киевский

In [140]:
streets_df.shape

(6493, 1)

In [141]:
streets_df = streets_df[streets_df['formalname'].str.len() > 3]

In [146]:
street_expr = '(' + '|'.join([s.replace('(', '\(').replace(')', '\)') for s in streets_df['formalname'].values]) + ')'
# street_expr

In [143]:
new_text_part = data.text_part.str.replace(street_expr, 'STREET')
new_text_part

<ipython-input-143-8b0046a38129>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  new_text_part = data.text_part.str.replace(street_expr, 'STREET')

0       771001001 кпп по октмо гбу "жилищник района м...
1       5147746350230, окато 45283559000 октмо 453670...
2      он. статья 15 адреса, реквизиты и подписи стор...
3      сударственное бюджетное учреждение гор. москвы...
4      остью «дорстройгрупп» (ооо «дорстройгрупп» юри...
                             ...
741    тракту №обю/19-1 локальная смета № (локальный ...
742    ткая марка по плотности 70 длина 1000; 2000 мм...
743    т 19.06.2017 № 508671, выданной публичным акци...
744    и сжатии 300 или 400 400 вид цемента портландц...
745    фск партнер а.с. колеснику fild адреса: - юрид...
Name: text_part, Length: 746, dtype: object

In [144]:
new_text_part[0], data.text_part[0]

(' 771001001 кпп по октмо гбу "жилищник района митино" государственные бюджетные учреждения субъектов российской федерации 7733902394 кпп 773301001 по окфс место нахождения (адрес) S 125430, город STREET, STREET шоссе, дом 23 E реквизиты сведений об объекте контроля 45000000 инн по окопф форма собственности № п/п дата протокола по октмо 75203 29368873 45367000000 реквизиты документа, содержащего информацию для осуществления',
 ' 771001001 кпп по октмо гбу "жилищник района митино" государственные бюджетные учреждения субъектов российской федерации 7733902394 кпп 773301001 по окфс место нахождения (адрес) S 125430, город москва, пятницкое шоссе, дом 23 E реквизиты сведений об объекте контроля 45000000 инн по окопф форма собственности № п/п дата протокола по октмо 75203 29368873 45367000000 реквизиты документа, содержащего информацию для осуществления')

In [145]:
text_dfs = []
for text in new_text_part:
    text_dfs.append(prepare_text(text))

In [147]:
text_dfs = pd.concat(text_dfs)
encoder = LabelEncoder()
encoder.fit(text_dfs['token'].tolist() + text_dfs['hist_1'].tolist())

digit_tdf = text_dfs.copy()

wrd_cols = ['token', 'hist_1', 'hist_2', 'hist_3', 'future1', 'future2', 'future3']
for wc in wrd_cols:
    digit_tdf.loc[:, wc] = encoder.transform(text_dfs[wc])
    
text_dfs.head(5)

,token,is_address,prev_info,hist_1,hist_2,hist_3,future1,future2,future3
0,771001001,0,0.0,UNKNOWN,UNKNOWN,UNKNOWN,кпп,по,октмо
1,кпп,0,0.0,771001001,UNKNOWN,UNKNOWN,по,октмо,гбу
2,по,0,0.0,кпп,771001001,UNKNOWN,октмо,гбу,""""
3,октмо,0,0.0,по,кпп,771001001,гбу,"""",жилищник
4,гбу,0,0.0,октмо,по,кпп,"""",жилищник,района

In [148]:
digit_tdf

,token,is_address,prev_info,hist_1,hist_2,hist_3,future1,future2,future3
0,1373,0,0.0,1692,1692,1692,3224,4087,3819
1,3224,0,0.0,1373,1692,1692,4087,3819,2376
2,4087,0,0.0,3224,1373,1692,3819,2376,3
3,3819,0,0.0,4087,3224,1373,2376,3,2771
4,2376,0,0.0,3819,4087,3224,3,2771,4438
...,...,...,...,...,...,...,...,...,...
92,38,0,0.0,2804,65,4941,2877,3839,5260
93,2877,0,0.0,38,2804,65,3839,5260,4007
94,3839,0,0.0,2877,38,2804,5260,4007,1692
95,5260,0,0.0,3839,2877,38,4007,1692,1692
96,4007,0,0.0,5260,3839,2877,1692,1692,1692

In [149]:
X_train = X[:55000]
y_train = y[:55000]

X_test = X[55000:]
y_test = y[55000:]

model = RandomForestClassifier(max_depth=10)
model.fit(X_train, y_train)

RandomForestClassifier(max_depth=10)

In [151]:
X_test.loc[:, 'prev_info'] = 0.0
X_test = X_test.reset_index(drop=True)

y_pred = []
for ind in X_test.index:
    pred = model.predict(X_test.loc[[ind]])[0]
    y_pred.append(pred)
    
    X_test.loc[ind+1, 'prev_info'] = pred

/Users/arthursaprykin/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [152]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.70      0.01      0.01     12906
           1       0.34      1.00      0.50      6580

    accuracy                           0.34     19486
   macro avg       0.52      0.50      0.26     19486
weighted avg       0.58      0.34      0.18     19486